<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45026377298-6jkll8i6pu9820hm2af5s3b27a5dagcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45026377298-6jkll8i6pu9820hm2af5s3b27a5dagcg</string>
	<key>API_KEY</key>
	<string>AIzaSyCrh2ly4fRZ7PBvuoe__ehEFNoFbLrVMYg</string>
	<key>GCM_SENDER_ID</key>
	<string>45026377298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.thisisnotreal.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-20cca</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-20cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45026377298:ios:95a03e11fad6d4ad9aa98b</string>
</dict>
</plist>